<%= form_with model: MutualRelationship.new(), url: character_mutual_relationships_url(character), method: "post", class: "new-relationship-form" do | form | %>
  <div class="row">

    <div class="col-6 mx-auto">
      <%= label_tag :target_character_id, "Who is #{character.name} related to?", class: "form-label" %>
      <%= form.select :target_character_id, generate_relationship_names(character.universe.characters, [character]), {include_blank: true}, {class: "form-control form-select form-select-lg mb-3"} %>

      <%= label_tag :forward_name, "What is #{character.name}'s relationship to the target character?", class: "form-label" %>
      <%= form.text_field :forward_name, placeholder: "Ex. Father", class: "form-control mb-3" %>

      <%= label_tag :forward_name, "What is the target character's relationship to #{character.name}?", class: "form-label" %>
      <%= form.text_field :reverse_name, placeholder: "Ex. Son", class: "form-control mb-3" %>

      <div class="text-end">
        <%= form.submit "Add", class: "btn btn-primary" %>
      </div>
    </div>

  </div>
<% end %>
