<section class="character-relationships-table">

  <h2>Relationships</h2>
  <div class="row">
    <div class="col-md-12 mx-auto">
      <table class="table table-dark table-striped relationship-table">
        <thead>
          <tr>
            <th scope="col">Originating Character</th>
            <th scope="col">Relationship Name</th>
            <th scope="col">Target Character</th>
            <% if view == 'edit' %>
              <th scope="col"></th>
            <% end %>
          </tr>
        </thead>
        <tbody>
        <% if @character.relationships.empty? %>
          <tr class="table-info empty-row">
            <td colspan=4>This character has no relationships.</td>
          </tr>
        <% else %>
          <% @character.originating_relationships.each do | relationship | %>
            <tr>
              <td>
                <%= relationship.originating_character.name %>
              </td>
              <td>
                <%= relationship.name %>
              </td>
              <td>
                <%= link_to "#{relationship.target_character.name}", character_url(relationship.target_character.id)%>
              </td>
              <% if view == 'edit' %>
                <td>
                  <%= form_with model: MutualRelationship.new(), url: mutual_relationship_url(relationship.mutual_relationship), method: "delete" do | form | %>
                    <%= form.hidden_field :redirecting_character_id, :value => character.id, class: "form-control" %>
                    <%= form.submit "", class: "btn-close btn-close-white" %>
                  <% end %>
                </td>
              <% end %>
            </tr>
          <% end %>
        <% end %>
        </tbody>
      </table>
      <% if view == 'edit' %>
        <%= render partial: "characters/new_relationship_form", locals: {
          character: character,
          view: 'edit'
        } %>
      <% end %>
    </div>
  </div>

</section>
