<section class="image-list">

  <% if images.empty? %>
    <%= render partial: "shared/empty_banner", locals: {
      message: "There are no images yet, add some!"
    } %>
  <% else %>
    <!-- Pagination at top -->
    <%= render partial: "shared/pagination", locals: { collection: images } %>

    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 justify-items-center">
      <% images.each do |image| %>
        <%= link_to edit_universe_image_url(universe, image), class: "block p-1 transition-all duration-200" do %>
          <%= generate_image_tag(image, [250, 400]) %>
        <% end %>
      <% end %>
    </div>

    <!-- Pagination at bottom -->
    <%= render partial: "shared/pagination", locals: { collection: images } %>
  <% end %>

</section>
