<nav class="navbar">

  <ul class="menu align-right">
    <li>
      <a href="/">Blackbook 2.0</a>
    </li>
    <% unless @character.nil? %>
      <li>
        <%= link_to "Back to #{@character.universe.name}", universe_url(@character.universe)%>
      </li>
    <% end %>
    <% unless @image.nil? %>
      <li>
        <%= link_to "Back to #{@image.universe.name}", universe_url(@image.universe)%>
      </li>
    <% end %>
    <% unless @universe.nil? %>
      <li>
        <%= link_to "Edit Universe", edit_universe_url(@universe)%>
      </li>
    <% end %>
    <% unless @character.nil? %>
      <li>
        <%= link_to "Edit Character", edit_character_url(@character)%>
      </li>
    <% end %>
    <% if user_signed_in? %>
      <li>
        <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
      </li>
    <% else %>
      <li>
        <%= link_to "Register", new_user_registration_path %>
      </li>
      <li>
        <%= link_to "Sign in", new_user_session_path %>
      </li>
    <% end %>
  </ul>
</nav>
