<div class="character-fact container">
  <div class="row">
    <% if @character.facts.empty? %>
      <div class="col-md-10 mx-auto">
        <ul class="list-group list-group-flush rounded">
          <li class="list-group-item list-group-item-danger">This character has no facts.</li>
        </ul>
      </div>
    <% else %>
      <% @character.facts.group_by { |e| e.fact_type.upcase }.sort_by { |e| e[0] }.each do | group | %>
        <div class="col-md-12 fact-group">
          <h4><%= group[0] %></h4>
          <% group[1].each do |fact| %>
            <div class="fact">
              <span><%= fact.content %></span>
              <%= link_to character_fact_url(fact), method: "delete" do %>
                <button type="button" class="btn-close btn-close-white" aria-label="Close"></button>
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
  <hr />
  <div class="row">
    <div class="col-md-4 mx-auto">
      <%= form_with model: Fact.new(), url: character_character_facts_url(@character), method: "post" do | form | %>
        <div class="form-group">
          <div class="mb-3">
            <%= form.label "Fact Type", class: "form-label" %>
            <%= form.text_field :fact_type, class: "form-control" %>
          </div>
          <div class="mb-3">
            <%= form.label "Fact Content", class: "form-label" %>
            <%= form.text_field :content, class: "form-control" %>
          </div>
          <%= form.submit "Add", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
