<div class="character-item container">
  <div class="row">
    <% if @character.character_items.empty? %>
      <div class="col-md-10 mx-auto">
        <ul class="list-group list-group-flush rounded">
          <li class="list-group-item list-group-item-danger">This character has no items.</li>
        </ul>
      </div>
    <% else %>
      <% @character.character_items.sort_by{ |e| e.item.name.downcase }.each do | character_item | %>
        <div class="col-md-auto">
          <span class="badge bg-dark">
            <span><%= character_item.item.name %></span>
            <%= link_to character_item_url(character_item), method: "delete" do %>
              <button type="button" class="btn-close btn-close-white" aria-label="Close"></button>
            <% end %>
          </span>
        </div>
      <% end %>
    <% end %>
  </div>
  <hr />
  <div class="row">
    <div class="col-md-4 mx-auto">
      <%= form_with model: CharacterItem.new(), url: character_character_items_url(@character), method: "post" do | form | %>
        <div class="form-group">
          <%= form.label "New Item", class: "form-label" %>
          <div class="input-group">
              <%= form.text_field :item_name, class: "form-control" %>
            <div class="input-group-append">
              <%= form.submit "Add", class: "btn btn-primary" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
