<section class="character-trait-list">

  <h2>Traits</h2>
  <div class="row">
    <% if @character.character_traits.empty? %>
      <%= render partial: "shared/empty_banner", locals: {
        message: "This character has no traits!"
      } %>
    <% else %>
      <% @character.character_traits.sort_by{ |e| e.trait.name.downcase }.each do | character_trait | %>
        <div class="col-md-auto">
          <span class="badge bg-dark trait">
            <span><%= character_trait.trait.name %></span>
            <% if view == 'edit' %>
              <%= link_to character_trait_url(character_trait), method: "delete" do %>
                <button type="button" class="btn-close btn-close-white" aria-label="Close"></button>
              <% end %>
            <% end %>
          </span>
        </div>
      <% end %>
    <% end %>
  </div>
  <% if view == 'edit' %>
    <hr />
    <div class="row">
      <div class="col-md-4 mx-auto">
        <%= form_with model: CharacterTrait.new(), url: character_character_traits_url(@character), method: "post" do | form | %>
          <div class="form-group">
            <%= form.label "New Trait", class: "form-label" %>
            <div class="input-group">
                <%= form.text_field :trait_name, class: "form-control" %>
              <div class="input-group-append">
                <%= form.submit "Add", class: "btn btn-primary" %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>

</section>
