<section id="characters-edit-view" class="section is-fullheight">

  <div class="container">
    <div class="columns is-centered">
      <div class="column is-4-tablet is-5-desktop">
        <%= form_with model: @character, url: character_url(@character), method: "patch" do |form| %>
            <div class="field">
              <%= form.label :name, class: "label" %>
              <div class="control has-icons-left">
                <span class="icon is-small is-left">
                    <%= fa_icon "user" %>
                </span>
                <%= form.text_field :name, class: 'input', placeholder: "Tangle", required: true %>
              </div>
            </div>
            <div class="field">
              <%= form.submit "Save", class: "button is-info" %>
              <%= link_to "Cancel", character_path(@character), class: "button is-danger" %>
              <%= link_to "Delete", character_path(@character), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class:"alert button is-danger" %>
            </div>
        <% end %>
      </div>
    </div>
  </div>

</section>
