<section class="characters-new-view">

  <div class="grid-container">
    <div class="grid-x grid-padding-x">
      <div class="small-12 cell">
        <h2>New Character</h2>
      </div>

      <div class="large-6 medium-8 large-offset-3 medium-offset-2 cell">
        <%= form_with model: @new_character, url: universe_characters_url(universe_id: @new_character.universe_id) do |form| %>
          <%= form.label :name %>
          <%= form.text_field :name %>
          <%= form.submit "Save", class: "button" %>
          <%= link_to "Cancel", universe_url(@new_character.universe_id), class: "alert button" %>
        <% end %>
      </div>

    </div>
  </div>

</section>
