<div class="characters-show">

  <section class="character-content">
    <h1><%= @character.name %></h1>
    <div class="container">
      <p><%= @character.content %></p>
    </div>
  </section>

  <% render partial: "shared/capture_navbar" %>

  <section class="character-images">
    <%= render partial: "characters/image_list", locals: {
      character: @character,
      images: @images,
    } %>
  </section>

  <section class="character-traits">
    <h2>Traits</h2>
    <%= render partial: "characters/trait_list", locals: {
      character: @character,
    } %>
  </section>

  <section class="character-items">
    <h2>Items</h2>
    <%= render partial: "characters/item_list", locals: {
      character: @character,
    } %>
  </section>

  <section class="character-relationships">
    <h2>Relationships</h2>
    <%= render partial: "characters/relationship_table", locals: {
      character: @character,
    } %>
  </section>

  <section class="character-facts">
    <h2>Facts</h2>
    <%= render partial: "characters/fact_list", locals: {
      character: @character,
    } %>
  </section>

</div>
