<section class="characters-show-view">

  <section class="character-content">
    <h1><%= @character.name %></h1>
    <div class="container">
      <p><%= @character.content %></p>
    </div>
  </section>

  <% render partial: "shared/capture_navbar" %>

  <%= render partial: "characters/relationship_table", locals: {
    character: @character,
    view: 'show'
  } %>

  <%= render partial: "characters/image_list", locals: {
    character: @character,
    images: @images,
  } %>

  <%= render partial: "shared/app_footer", locals: {
    owner: @character.universe.owner,
    collaborators: @character.universe.collaborators
  } %>

</section>
