<h1><%= @character.name %></h1>
<div class="container">
  <p><%= @character.content %></p>
</div>

<% render partial: "shared/capture_navbar" %>

<%= render partial: "characters/image_list", locals: {
  character: @character,
  images: @images,
} %>

<h2>Traits</h2>
<%= render partial: "characters/trait_list", locals: {
  character: @character,
} %>

<h2>Items</h2>
<%= render partial: "characters/item_list", locals: {
  character: @character,
} %>
