<h1><%= @character.name %></h1>
<div class="container">
  <p><%= @character.content %></p>
</div>

<%= render(CharacterImageComponent.new(character: @character, images: @images)) %>

<h2>Traits</h2>
<%= render(CharacterTraitComponent.new(character: @character)) %>

<h2>Items</h2>
<%= render(CharacterItemComponent.new(character: @character)) %>


<%= link_to "Edit #{@character.name}", edit_character_url(@character), class: "btn btn-primary" %>
<%= link_to "Back to #{@character.universe.name}", universe_url(@character.universe), class: "btn btn-primary" %>
