<section class="universes-edit-view">

  <div class="grid-container">
    <div class="grid-x grid-padding-x">

      <div class="medium-4 medium-offset-1 cell">
        <%= form_with model: @universe, url: universe_url(@universe), method: "patch" do |form| %>
          <%= form.label :name %>
          <%= form.text_field :name %>
          <%= form.submit "Save", class: "button" %>
          <%= link_to "Cancel", universe_url(@universe), class: "secondary button" %>
        <% end %>
      </div>

      <div class="medium-4 medium-offset-1 cell">
        <h4>You are collaborating with...</h4>
        <ul>
          <% if @universe.collaborators.empty? %>
            <li>There are no collaborators in this universe.</li>
          <% else %>
            <% @universe.collaborations.each do | collaboration | %>
              <li>
                <span><%= collaboration.user.display_name %></span>
                <%= link_to collaboration_url(collaboration), method: "delete" do %>
                  <button class="alert button">X</button>
                <% end %>
              </li>
            <% end %>
          <% end %>
        </ul>

        <h4>You could add...</h4>
        <%= form_with model: Collaboration.new(), url: universe_collaborations_url(@universe), method: "post" do |form| %>
          <%= form.select :user_id, generate_collaborator_names(User.all, @universe.collaborators, @universe.owner), {include_blank: true} %>
          <%= form.submit "Add", class: "button" %>
        <% end %>
      </div>
    </div>
  </div>

</section>
