<section class="universes-new-view">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <h2>New Universe</h2>

      <%= form_with model: @new_universe, url: universes_url(@new_universe), method: "post", class: "border border-dark border-2 rounded" do |form| %>
        <div class="mb-3">
          <%= form.label :name, for: "newUniverseNameField", class: "form-label" %>
          <%= form.text_field :name, id: "newUniverseNameField", class: "form-control" %>
        </div>
        <%= form.submit "Save", id: "newUniverseSaveButton", class: "btn btn-primary" %>
        <%= link_to "Cancel", universes_url(), class: "btn btn-primary" %>
      <% end %>

    </div>
  </div>
</section>
