<section class="universe-show">
  <header>
    <h1><%= @universe.name %></h1>
    <span>Owner: <%= @universe.owner.display_name %></span>
    <% unless @universe.collaborators.empty? %>
      <span>
        Collaborators:
        <% @universe.collaborators.each do |collaborator| %>
          <%= collaborator.display_name %>
        <% end %>
      </span>
    <% end %>
  </header>

  <div class="row">
    <% if @universe.characters.empty? %>
      <%= render partial: 'universes/empty_universe_table', locals:
        {
          label: 'Characters',
        }
      %>
    <% else %>
    <%= render partial: 'universes/universe_table', locals:
      {
        rows: @universe.characters,
        label: 'Characters',
        new_path: ->() {new_universe_character_url(@universe)},
        show_path: ->(character) {character_url(character)},
        update_path: ->(character) {edit_character_url(character)},
      }
    %>
    <% end %>

    <% if @universe.locations.empty? %>
      <%= render partial: 'universes/empty_universe_table', locals:
        {
          label: 'Locations',
          new_path: ->() {new_universe_location_url(@universe)},
        }
      %>
    <% else %>
    <%= render partial: 'universes/universe_table', locals:
      {
        rows: @universe.locations,
        label: 'Locations',
        new_path: ->() {new_universe_location_url(@universe)},
        show_path: ->(location) {location_url(location)},
        update_path: ->(location) {edit_location_url(location)},
      }
    %>
    <% end %>
  </div>
  <div class="row">
    <%= link_to "Edit", edit_universe_url(@universe), class: 'btn btn-primary' %>
  </div>
</section>
