<section class="universe-show">
  <header>
    <h1><%= @universe.name %></h1>
  </header>

  <%= render partial: "universes/card_list", locals: {
    collection: @universe.characters,
    collection_url: ->(x) { character_url(x) },
    new_url: new_universe_character_url(@universe),
    name: "Characters"
  } %>

  <%= render partial: "universes/card_list", locals: {
    collection: @universe.locations,
    collection_url: ->(x) { location_url(x) },
    new_url: new_universe_location_url(@universe),
    name: "Locations"
  } %>

  <%= render partial: "universes/image_list", locals: {
    images: @images,
    universe: @universe
  } %>

  <div class="controls">
    <%= link_to "Edit #{@universe.name}", edit_universe_url(@universe), class: 'btn btn-primary' %>
    <%= link_to 'Back to Home', universes_url(), class: 'btn btn-primary' %>
  </div>

  <%= render partial: "universes/universe_footer", locals: {
    owner: @universe.owner,
    collaborators: @universe.collaborators
  } %>

</section>



