<% render partial: "shared/capture_navbar" %>

<section id="images-edit-view" class="section">

<div class="columns is-centered">
  <div class="column is-one-quarter has-text-centered">
    <% if @image.image_tags.empty? %>
      <h1>There are no characters in this image.</h1>
    <% else %>
      <h1>This image contains...</h1>
      <% @image.image_tags.each do | tag | %>
        <div class="block">
          <%= link_to "#{tag.character.name}", character_url(tag.character), class: "button is-link" %>
          <%= link_to image_tag_url(tag), method: "delete" do %>
            <button class="button is-danger">X</button>
          <% end %>
        </div>
      <% end %>
    <% end %>

    <hr />

    <% if @image.universe.characters.empty? %>
      <h1>There are no characters in this universe.</h1>
    <% else %>
      <h1>You could add...</h1>
      <%= form_with model: ImageTag.new(), url: universe_image_image_tags_url(@image.universe, @image), method: "post" do |form| %>
        <div class="select">
          <%= form.select :character_id, generate_character_names(@image.universe.characters, @image.image_tags), {include_blank: true}  %>
        </div>
        <%= form.submit "Add", class: "button" %>
      <% end %>
    <% end %>

    <hr />
    <%= link_to "Delete Image", universe_image_url(@image), method: "delete", :data => {:confirm => "Are you sure?"}, class:"button is-danger" %>

  </div>
  <div class="column is-three-quarters">
    <%= link_to rails_blob_path(@image.image_file, disposition: "attachment")  do %>
      <%= generate_image_tag(@image, [1000, nil]) %>
    <% end %>
  </div>
</div>

</section>
