<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Blackbook</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>

  <body>

    <% if content_for?(:navbar) %>
      <%= yield(:navbar) %>
    <% else %>
      <%= render "shared/navbar" %>
    <% end %>
    <div class="container">
      <%= render "shared/flashbar" %>
      <%= yield%>
    </div>

  </body>
</html>
