<!DOCTYPE html>
<html>
  <head>
    <title>Blackbook</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if content_for?(:navbar) %>
      <%= yield(:navbar) %>
    <% else %>
      <%= render "shared/navbar" %>
    <% end %>

    <main>
      <%= yield%>
    </main>
    <%= render "shared/flashbar" %>
  </body>
</html>
