<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Blackbook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'application' %>
    <%= favicon_pack_tag 'book-icon.png', rel: 'apple-touch-icon', type: 'image/png' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body class="bb-dark">
    <%= render "shared/navbar" %>
    <div class="container">
      <% flash.each do |key, value| %>
        <div class="<%= flash_class(key) %>">
          <%= value %>
        </div>
      <% end %>
      <%= yield%>
    </div>
  </body>
</html>
