<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Blackbook</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="prefetch" href="<%= asset_pack_path 'media/packs/fonts/Montserrat-BoldItalic.ttf' %>" />
  </head>

  <body class="bb-dark">
    <% if content_for?(:navbar) %>
      <%= yield(:navbar) %>
    <% else %>
      <%= render "shared/navbar" %>
    <% end %>
    <div class="container">
      <% flash.each do |key, value| %>
        <div class="<%= flash_class(key) %>">
          <%= value %>
        </div>
      <% end %>
      <%= yield%>
    </div>
  </body>
</html>
