<!DOCTYPE html>
<html>
  <head>
    <title>Blackbook</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="min-h-screen bg-gray-50 text-gray-900">
    <!-- Navigation -->
    <% if content_for?(:navbar) %>
      <%= yield(:navbar) %>
    <% else %>
      <%= render "shared/navbar" %>
    <% end %>

    <!-- Main Content -->
    <main class="min-h-[calc(100vh-4rem)]">
      <%= yield%>
    </main>

    <!-- Flash Messages -->
    <div class="fixed inset-x-0 bottom-0 pb-4 pointer-events-none">
      <div class="max-w-5xl mx-auto px-4">
        <%= render "shared/flashbar" %>
      </div>
    </div>
  </body>
</html>
